html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

/* Header */

.header {
	background-color: rgb(0, 153, 255);
}

.container {
	width: 60vw;
	margin: 0 auto;
}

.contacts {
	height: 50px;
	display: flex;
	align-items: center;
	font-size: 15px;
}

.contact {
	margin-right: 3%;
	word-wrap: normal;
	position: relative;
	padding-right: 3%;
}

.contact img {
	width: 15px;
	position: absolute;
	left: -20px;
	top: 15%;
}

/* First section */

.nav {
	display: flex;
}

.logo {
	width: 10%;
	height: auto;
}

.nav-items {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-left: auto;
	text-align: center;
}

.nav-item {
	text-decoration: none;
	color: #000;
	font-size: 20px;
	font-weight: 200;
	transition: 0.1s linear;
}

.nav-item:hover {
	transform: translateY(-8px);
}

.main {
	background-image: url(img/main-bg.jpg);
	width: 100%;
	height: 500px;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-text {
	background-color: #fff;
	opacity: 0.8;
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 50%;
	padding: 3% 5%;
	border-radius: 20px;
	text-align: center;
}

.button {
	background-color: rgb(0, 153, 255);
	outline: 0;
	border: 0;
	width: 25%;
	min-width: 120px;
	padding: 3% 5%;
	border-radius: 5px;
	margin: 10% auto 0;
	cursor: pointer;
	transition: 0.2s;
}

.button:hover {
	background-color: rgb(0, 123, 206);
}

/* About */

.about {
	display: flex;
	margin-top: 5%;
}

.about-text p {
	min-width: 50%;
}

.about-text p {
	width: 80%;
	margin-top: 3%;
}

.about img {
	width: 50%;
	max-width: 100%;
	max-height: 370px;
}

/* Offers */

.section-2 {
	background-color: #ebebeb;
	padding-bottom: 3%;
}

.offers {
	margin-top: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.offers h2 {
	margin: 5%;
}

.offer-cards {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.offer-card {
	width: 20%;
	background-color: #fff;
	padding: 1.5%;
	box-shadow: 2px -2px 12px rgba(0, 0, 0, 0.342);
	border-radius: 5px;
}

.offer-card h3 {
	margin: 5% 0;
}

.offer-card img {
	width: 100%;
}

.offer-card button {
	width: 50%;
	font-weight: 700;
	padding: 5% 10%;
}

/* Footer */

.footer {
	padding: 2% 0;
	background-color: rgb(177, 198, 255);
}

.footer__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-text {
	width: 30%;
}

.footer-text h2 {
	margin-bottom: 4%;
}

.footer__inner .contacts {
	flex-direction: column;
	align-items: start;
	width: 30%;
	justify-content: space-between;
}

.footer__inner .contact {
	margin-bottom: 3%;
}

.form {
	display: flex;
	flex-direction: column;
}

.form h2 {
	margin-bottom: 3%;
}

.form__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

input,
textarea {
	width: 100%;
	margin: 2%;
	padding: 4% 0 4% 2%;
	border-radius: 10px;
	outline: 0;
	border: 1px solid gray;
	resize: none;
}

textarea {
	height: 100px;
}

.form button {
	width: 50%;
}

/* Adaptation */

@media screen and (max-width: 1366px) {
	.container {
		width: 80vw;
	}

	.main-text {
		width: 50%;
	}
}

@media screen and (max-width: 1200px) {
	.about,
	.offers {
		margin-top: 2%;
	}

	.about img {
		display: none;
	}

	.about-text {
		margin: 0 auto;
		width: 80%;
		text-align: center;
	}

	.about-text p {
		width: 100%;
	}

	.about-text button {
		margin-top: 4%;
	}
}

@media screen and (max-width: 768px) {
	.container {
		width: 90vw;
	}

	.logo {
		width: 15%;
		height: auto;
	}

	.nav-items {
		width: 80%;
	}

	.offer-cards {
		flex-wrap: wrap;
	}

	.offer-card {
		width: 200px;
		margin-bottom: 2%;
	}

	.footer__inner {
		width: 80%;
		margin: 0 auto;
	}

	.footer-text {
		display: none;
	}

	.footer__inner .contacts {
		width: 50%;
		height: 100px;
	}
}

@media screen and (max-width: 730px) {
	.contacts {
		flex-direction: column;
		justify-content: space-around;
		height: 100px;
	}

	.offer-cards {
		width: 460px;
	}
}

@media screen and (max-width: 500px) {
	.offer-cards {
		width: 399px;
		justify-content: center;
	}

	.footer__inner {
		flex-direction: column-reverse;
	}

	.footer__inner .contacts {
		width: 100%;
		align-items: center;
		margin-top: 5%;
	}

	.footer__inner .form {
		width: 80%;
	}
}

@media screen and (max-width: 400px) {
	.offer-cards {
		width: 300px;
	}
}
